<h1>First Program</h1>
<p>Let's start with our first program!</p>
<hr>

<p>Type the code below into your editor. Try to avoid coping and pasting for now; typing it out will help to learn faster!</p>
<pre><code>message = "Hello world!"
        print(message)</code></pre>

<hr>
<p>Your editor likely has a run button. It may look like a play button on a TV remote (something like this ▶️)</p>
<p>Verify you see the following output:</p>
<pre><code>Hello world!</code></pre>
<hr>
<p>Your program displayed text when you ran it.</p>
<p>Let's break down everything going on. Don't worry if you don't remember right away, we will go over these in future lessons.</p>
<pre><code>message</code></pre>
<ul>
    <li>We make a variable named <span style="color: cyan;">message</span>.</li>
    <li>To the right, we have text in quotes (we call text a string), which we put in quotes <span style="color: cyan;">"Hello world!"</span>.</li>
    <li><span style="color: cyan;">message</span> will hold this text (string) for us. <span style="color: cyan;">message = "Hello world!"</span>.</li>
    <li>We "print" the message. The program tells the computer to type our variable <span style="color: cyan;">message</span> for us into the console. <code>print(message)</code></li>
</ul>
<p>This program is a console application. A console outputs text to the user.</p>
<p>There are other kinds of programs, such as servers, applications, scripts on web pages, etc. We will start in the console for now.</p>
<hr>
<h2>Exercise 1</h2>
<p>Let's change the text!</p>
<p>We will only change what is inside the quotes. Try this first:</p>
<pre><code>message = "Good morning!"
        print(message)</code></pre>
<p>If you run the program, the following output should appear:</p>
<pre><code>Good Morning!</code></pre>
<hr>
<p>Notice that we only changed the first line. </p>
<code>message = "Good morning!"</code>
<br>
<p>The second line stayed the same </p>
<code>print(message)</code>
<br>
<p>We did not have to re-write the entire program for it to print a different message.</p>
<hr>
<h2>Exercise 2</h2>
<p>Let's change the name of the variable!</p>
<p>Try this:</p>
<pre><code>a = "Good morning!"
        print(a)</code></pre>
<p>If you run the program, the following output should appear:</p>
<pre><code>Good Morning!</code></pre>
<hr>
<p>We can name variables different things for our needs. </p>
<p>Variables in Python should be lowercase. </p>
<p>You also cannot use spaces. I recommend using underscores _ instead</p>
<p>A couple examples:</p>
<ul>
    <li><code>a_number</code></li>
    <li><code>some_text</code></li>
    <li><code>a_really_long_variable_name</code></li>
</ul>
<p>We will learn more about variables in the next lesson</p>
