<style>
    #AboutMain {
        display: grid;
        grid-row-gap: 3em;
    }
    #About {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }
    .ContactItem {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    .Category {
        border-radius: 10px;
    }
</style>
<div id="AboutMain">
    <div class="Category">
        <div id="About">
            <div class="Scream">
                <img class="Concept" src="images/alex.jpg" style="width: 100%; object-fit: contain;">
                <h2 style="padding-top: 0.8em">Alexander Farrell</h2>
                <a style="font-size: 10px" href="mailto: info@alexanderfarrell.com" class="ContactItem">
                    <div style="font-size: 30px">✉️</div><div>info@alexanderfarrell.com</div>
                </a>
            </div>
            <div>
                <h3>About</h3>
                <p>Hello, my name is Alexander Farrell. My goal is to help people develop talents through lessons, articles and games. </p>
                <p>The purpose of this website is to provide lessons, articles and games which do this. Below are statistics I will keep to measure overtime and to stay accountable to the world in accomplishing this goal.</p>
                <p>Thank you for visiting my site, and I hope I can provide value to you.</p>
            </div>
        </div>
    </div>
    <div class="Category">
        <h3>Languages Over Time</h3>
        <div>
            <figure><embed src="https://wakatime.com/share/@043fa528-533c-4629-8dbc-8b3a99679a86/18b79de5-df8b-4d5f-bfd3-7b2094d51dd2.svg"></embed></figure>
        </div>
    </div>
    <div class="Category">
        <h3>Editors</h3>
        <div>
            <figure><embed src="https://wakatime.com/share/@043fa528-533c-4629-8dbc-8b3a99679a86/56e476ef-ce4b-4930-b5fc-724d77b02009.svg"></embed></figure>
        </div>
    </div>
</div>



<!--<h3 style="place-self: center">About is coming soon!.</h3>-->

<!--<h4>Let's get you back <a href="/">Home</a>!</h4>-->