<style>

    .ContactButton {
        display: grid;
        grid-template-columns: 1fr 3fr;
        place-items: center;
        padding: 4px;
        width: 80%;
        background-position: -25px 0;
        box-shadow: 1px 1px 5px black;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        /*text-shadow: 1px 1px 3px black;*/
    }
    .CourseButton {
        color: white;
        backdrop-filter: blur(8px) brightness(300%) hue-rotate(90deg);
        box-shadow: 1px 1px 5px black;
        padding: 8px;
        border-radius: 10px;
        font-size: min(2.7vw, 2.7vh);
    }
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .CourseButton {
            font-size: min(4vw, 4vh);
        }
    }
    .SmallIcon {
        font-size: 30px;
    }
</style>

<div>
    <h1>Learn to Code!</h1>
    <h3>With One-on-One Crash Courses</h3>
    <p>My name is Alexander Farrell, and I offer convenient and effective crash courses in programming over Zoom. </p>
    <p>I would love to help you build Apps, Games, and Websites! Please contact me, or schedule conveniently online to begin or continue learning. </p>

<!--    <div class="TwoColumn" style="justify-items: center; justify-content: center;">-->
<!--        <div>-->
<!--            <a href="tel:949-750-6480">-->
<!--                <div class="Icon" style="text-align: center">📱</div>-->
<!--            </a>-->
<!--            <a href="courses/one_hour">-->
<!--            </a>-->
<!--            <a href="mailto: courses@alexanderfarrell.com">-->
<!--            </a>-->
<!--            <a href="courses/two_hour">-->
<!--            </a>-->
<!--        </div>-->
<!--        <div>-->
<!--        </div>-->
<!--    </div>-->
    <br>
    <h3>Schedule Online</h3>
    <div class="TwoColumn" style="display: grid; place-content: space-between; grid-column-gap: 20px; grid-template-columns: 1fr 1fr; width: 80%; margin-left: auto; margin-right: auto">
        <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/alexander-crash-courses/1-hour-lesson?background_color=000827&text_color=ffffff&primary_color=ac0053'});return false;" class="CourseButton Scream">
            <div style="text-align: center" class="Icon">🕐</div>
            <div style="text-align: center">One Hour Course</div>
            <div style="text-align: center"> $25</div>
        </a>
        <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/alexander-crash-courses/2-hour-lesson?background_color=000827&text_color=ffffff&primary_color=ac0053'});return false;" class="CourseButton Scream">
            <div style="text-align: center;" class="Icon">🕑</div>
            <div style="text-align: center">Two Hour Course</div>
            <div style="text-align: center">$45</div>
        </a>
    </div>
    <br>
    <h3>Contact Alex</h3>
    <a href="tel:714-794-5693" class="ContactButton Scream">
        <div style="text-align: center" class="SmallIcon">📱</div>
        <div style="text-align: center">(714) 794-5693</div>
    </a>
    <a href="mailto: courses@alexanderfarrell.com" class="ContactButton Scream">
        <div style="text-align: center" class="SmallIcon">✉️</div>
        <div style="text-align: center">courses@alexanderfarrell.com</div>
    </a>
    <br>
    <h3>Build Apps, Games and Websites</h3>
    <p>My students build applications, games and websites during our courses with the knowledge they learn. I will guide them in planning, creating, testing and even deploying/publishing their projects. </p>
    <img width="100%" style="border-radius: 20px;" src="images/auth.png">
    <br>
    <br>
    <h3>Learn & Use Several Languages</h3>
    <p>My students learn several languages such as Python, JavaScript, HTML, CSS, SQL, JSON, C#, GLSL and more during their courses. We will explore derivative languages such as SCSS and TypeScript. </p>
    <img width="100%" style="border-radius: 20px;" src="images/code.png">
    <br>
    <br>
    <h3>Get One-on-One Help</h3>
    <p>My students can ask questions, and I adapt the courses to them. I believe in my students, and want to see their brilliant talents flourish. </p>
    <img width="100%" style="border-radius: 20px;" src="images/food.png">
    <br>
    <br>
    <h3>Learn & Use Several Technologies</h3>
    <p>My students learn several technologies such as Databases, Web Browsers, Servers, Version Control, Shaders, NPM, NodeJS, Unity and more during their courses. </p>
    <img width="100%" style="border-radius: 20px;" src="images/pack.png">
    <br>
    <br>
    <div id="Extra">
        <a href="/courses/prepare" class="Scream">
            <h2>Prepare</h2>
            <p>What obstacles may someone encounter while learning?</p>
        </a>
<!--        <a href="/courses/languages" class="Scream">-->
<!--            <h2>Pick a Language</h2>-->
<!--            <p>How does one get started on their own?</p>-->
<!--        </a>-->
<!--        <a href="/courses/ideas" class="Scream">-->
<!--            <h2>Project Ideas</h2>-->
<!--            <p>Do you have ideas for someone's next apps, website or game?</p>-->
<!--        </a>-->
<!--        <a href="/courses/curriculum" class="Scream">-->
<!--            <h2>Explore Curriculum</h2>-->
<!--            <p>What specifically do the courses teach?</p>-->
<!--        </a>-->
        <a href="/courses/guide" class="Scream">
            <h2>Tutorials</h2>
            <p>Do you have tutorials online? </p>
        </a>
<!--        <a href="/courses/philosophy" class="Scream">-->
<!--            <h2>Philosophy</h2>-->
<!--            <p>How do you teach? </p>-->
<!--        </a>-->
    </div>

</div>