<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="keywords" content="python javascript code coding program programming course lesson tutor lessons learn learning computer tech IT server developer development application game video game statistics website site script scripting server client zoom one on one documentation schedule calender language computer science concepts design crash course tutorial coding nodejs node html css browser web deploy data structure debug debugging frontend backend fullstack jquery typescript string int float complex list tuple range str bytes set dict and or not __init__ def class self calender collections types type enum math random os io time json turtle cmd audio video visual graphics command line sys iterator bool boolean array date error function math number object map set ecma closure lambda promise async callback infinity nan undefined null parse typeof try catch exception xhtmlrequest fetch dom body canvas webgl webgl2 localstorage local storage calendly">
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <link rel="shortcut icon" href="/wqdf.png" type="image/x-icon" />
  </head>
  <body>
  <div id="Background">
    &nbsp;
  </div>
  <div id="Main">
    <header>
      <a class="HomeNavButton" href="/">
        <img src="/wqdf.png" width="30px" height="30px" style="object-fit: contain">
        <span>Home</span>
      </a>
      <div>&nbsp;</div>
      <div style="display: flex">
        <a class="NavButton" href="/courses">Courses</a>
        <a class="NavButton" href="/courses/guide">Tutorials</a>
        <!--      <a class="NavButton" href="/articles">Articles</a>-->
        <a class="NavButton" href="/work">Work</a>
        <a class="NavButton" href="/about">About</a>
      </div>

    </header>
    <div id="Content">
      <%- include(content) %>
    </div>
    <footer>
      <br>
      <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
        <a href="/privacy" style="text-align: center">
          Privacy
        </a>
        <a href="https://github.com/AlexanderFarrell/alex_crash_courses" style="text-align: center">
          View the Code for this Website!
        </a>
        <a href="/terms" style="text-align: center">
          Terms
        </a>
      </div>
      <br>
    </footer>
  </div>
</body>
</html>
