<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/alexander-crash-courses/programming-crash-course-trial?background_color=182839&text_color=f4f4f4&primary_color=67b2ea" style="min-width:320px;height:100%;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->