
<!--<h1>Welcome</h1>-->
<div id="Home">
    <a href="/courses" style="grid-column-start: 1; grid-column-end: 4;">
        <div class="PictureButton">
            <img src="images/ad5.png">
        </div>
    </a>
    <a href="/articles">
        <div class="PictureButton">
            <img src="images/World.png">
            <div>Articles</div>
        </div>
    </a>
    <a href="/work">
        <div class="PictureButton">
            <img src="images/Fly.png">
            <div>Work</div>
        </div>
    </a>
    <a href="/about">
        <div class="PictureButton">
            <img src="images/alex.jpg">
            <div>About Me</div>
        </div>
    </a>
</div>
