<h1>Void Money</h1>
<p>If you were given $10,000, what would you do with it? </p>
<p>Void Money is a business simulator which lets players buy, sell, start and run simulated companies in a simulated economy. </p>
<a href="/work">Back to Work</a>