<!--<h3 style="place-self: center">Work is coming soon!.</h3>-->

<!--<h4>Let's get you back <a href="/">Home</a>!</h4>-->

<h1>Work</h1>
<h2>Games</h2>
<h3>Live</h3>
<div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
    <a href="https://morphsight.itch.io/orderedenergy">
        <div class="PictureButton">
            <img src="https://img.itch.zone/aW1hZ2UvODA1NTA2LzQ1ODI1NDEucG5n/original/nvwnb8.png">
            <div>Ordered Energy by MorphSight</div>
        </div>
    </a>
    <a href="https://class-project-stock-simulator.herokuapp.com/">
        <div class="PictureButton">
            <img style="object-fit: cover" src="images/ssim.png">
            <div>Stock Simulator - Class Project</div>
        </div>
    </a>
</div>

<h3>Alpha</h3>
<div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
    <a href="/work/raise_triton">
        <div class="PictureButton">
            <img width="100%" height="52.916%" style="object-fit: cover" src="images/World.png">
            <div>Raise Triton by MorphSight</div>
        </div>
    </a>

    <a href="/work/buried_peace">
        <div class="PictureButton">
            <img style="object-fit: cover" src="images/buried.png">
            <div>Buried Peace</div>
        </div>
    </a>
</div>

<h3>In Development</h3>
<div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
    <a href="/work/void_money">
        <div class="PictureButton">
            <img width="100%" height="52.916%" style="object-fit: cover" src="https://img.itch.zone/aW1nLzM4OTM3ODEucG5n/original/r%2Bx%2F9A.png">
            <div>Void Money by MorphSight</div>
        </div>
    </a>
</div>

<!--<h3>Concepts</h3>-->
<!--<h1>Apps</h1>-->