<div class="StretchWidth">
    <a href="/pub/Ordered Energy">
        <div class="ImageItem TwoColumn" style='width: 100%; font-size: 1.2rem; background-image: url("/images/games/oe.jpg")'>
            <div style="align-self: end; text-align: left">
                <span style="color: #e1ff8e">Strategize</span> and Succeed
            </div>
            <div style="align-self: end; text-align: right">
                <img class="low_marble" src="/images/marbles/low/Somelow.png">
                Ordered Energy
            </div>
        </div>
    </a>
    <div class="Adapt3r Products">
        <a href="/pub/Void Money">
            <div class="ImageItem Product" style='background-image: url("/images/games/vm.jpg")'>
                <div>Conduct <span style="color: yellow">Business</span></div>
                <div><img class="low_marble"   src="/images/marbles/low/VoidMoney2low.png"> Void Money</div>
            </div>
        </a>
        <a href="/pub/Buried Peace">
            <div class="ImageItem Product" style='background-image: url("/images/games/buried.jpg")'>
                <div><span class="accent_dark">Recapture</span> the Surface</div>
                <div><img class="low_marble"  src="/images/marbles/low/dlow.png"> Buried Peace</div>
            </div>
        </a>
        <a href="/pub/Raise Triton">
            <div class="ImageItem Product" style='background-image: url("/images/games/warp.jpg")'>
                <div><span style="color: #026aff">Conquer</span> the Under Ocean</div>
                <div><img class="low_marble"  src="/images/marbles/low/clow.png"> Raise Triton</div>
            </div>
        </a>
        <a href="/pub/YouCannotBeatThisGame">
            <div class="ImageItem Product" style='background-image: url("/images/games/you.jpg")'>
                <div><span style="color: #ff9102">Dive</span> into Chaos</div>
                <div style="font-size: 0.9rem"><img class="low_marble"  src="/images/marbles/low/ycbtglow.png"> You Cannot Beat This Game</div>
            </div>
        </a>
    </div>
    <!--<div class="ThreeColumn">-->
    <!--    <iframe src="https://onedrive.live.com/embed?cid=96F3040C0D2086E9&resid=96F3040C0D2086E9%21142175&authkey=ADvdBnOnUyXmtC4" width="165" height="128" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</div>

