<style>
    #AboutMain {
        padding-top: 3em;
        display: grid;
        grid-row-gap: 3em;
    }
    #About {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }
    .ContactItem {
        display: grid;
        grid-template-columns: 200px 1fr;
        width: 100%;
        place-content: center;
        place-items: center;
        padding: 0 10%;
    }
    .Category {
        border-radius: 10px;
    }
    .Pad {
        padding: 1%;
    }
</style>
<div id="AboutMain">
    <div class="Category">
        <div id="About">
            <div style="overflow: hidden">
                <img src="images/alex.jpg" style="border-radius: 10px; width: 100%; object-fit: contain; place-items: center; justify-content: center">
<!--                <a href="mailto: info@alexanderfarrell.com" class="ContactItem">-->
<!--                    info@alexanderfarrell.com-->
<!--                </a>-->
            </div>
            <div class="Pad">
                <h3 style="padding-top: 0.8em">Alexander Farrell</h3>
                <p>Hello, my name is Alexander Farrell. I help people develop talents through lessons, articles and games. </p>
<!--                <p>The purpose of this website is to provide lessons, articles and games which do this. Below are statistics I will keep to measure overtime and to stay accountable to the world in accomplishing this goal.</p>-->
                <p>Thank you for visiting my site, and I hope I can provide value to you.</p>
            </div>
        </div>
    </div>
    <div class="Category">
        <h3>Languages Over Time</h3>
        <div>
            <figure><embed src="https://wakatime.com/share/@043fa528-533c-4629-8dbc-8b3a99679a86/18b79de5-df8b-4d5f-bfd3-7b2094d51dd2.svg"></embed></figure>
        </div>
    </div>
    <div class="Category">
        <h3>Editors</h3>
        <div>
            <figure><embed src="https://wakatime.com/share/@043fa528-533c-4629-8dbc-8b3a99679a86/56e476ef-ce4b-4930-b5fc-724d77b02009.svg"></embed></figure>
        </div>
    </div>
</div>
<br>



<!--<h3 style="place-self: center">About is coming soon!.</h3>-->

<!--<h4>Let's get you back <a href="/">Home</a>!</h4>-->