<style>
    #AboutMain {
        padding-top: 2.5vw;
        /*padding-top: 3em;*/
        display: grid;
        /*grid-row-gap: 3em;*/
    }
    #About {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }
    .ContactItem {
        display: grid;
        grid-template-columns: 200px 1fr;
        width: 100%;
        place-content: center;
        place-items: center;
        padding: 0 10%;
    }
    .Category {
        border-radius: 10px;
    }
    .Pad {
        padding: 1%;
    }
    @media only screen and (max-width: 800px) {
        #About {
            grid-template-columns: 1fr;
        }
    }
</style>
<div id="AboutMain">
    <div class="Category">
        <div id="About">
            <div style="overflow: hidden">
                <img src="images/alex.jpg" style="border-radius: 10px; width: 100%; object-fit: contain; place-items: center; justify-content: center">
<!--                <a href="mailto: info@alexanderfarrell.com" class="ContactItem">-->
<!--                    info@alexanderfarrell.com-->
<!--                </a>-->
            </div>
            <div class="Pad">
                <h3 style="padding-top: 0.8em">Alexander Farrell</h3>
                <p>Hello, my name is Alexander Farrell. I help people develop talents through lessons, articles and games. </p>
<!--                <p>The purpose of this website is to provide lessons, articles and games which do this. Below are statistics I will keep to measure overtime and to stay accountable to the world in accomplishing this goal.</p>-->
                <p>Thank you for visiting my site, and I hope I can provide value to you.</p>
            </div>
        </div>
    </div>
    <div class="Category">
        <div style="padding-top: 3vh; padding-bottom: 3vh;">
            <h1>Work</h1>
        </div>
        <h2>Games</h2>
        <div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
            <a href="https://morphsight.itch.io/orderedenergy">
                <div class="PictureButton">
                    <img src="https://img.itch.zone/aW1hZ2UvODA1NTA2LzQ1ODI1NDEucG5n/original/nvwnb8.png">
                    <div>Ordered Energy by MorphSight</div>
                </div>
            </a>
            <a href="https://class-project-stock-simulator.herokuapp.com/">
                <div class="PictureButton">
                    <img style="object-fit: cover" src="images/ssim.png">
                    <div>Stock Simulator - Class Project</div>
                </div>
            </a>
        </div>

        <h2>Games in Alpha</h2>
        <div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
            <a href="/work/raise_triton">
                <div class="PictureButton">
                    <img width="100%" height="52.916%" style="object-fit: cover" src="images/World.png">
                    <div>Raise Triton by MorphSight</div>
                </div>
            </a>
            <a href="/work/buried_peace">
                <div class="PictureButton">
                    <img style="object-fit: cover" src="images/buried.png">
                    <div>Buried Peace</div>
                </div>
            </a>
        </div>

        <h2>Art</h2>
        <div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
            <a href="/work/space">
                <div class="PictureButton">
                    <img width="100%" height="52.916%" style="object-fit: cover" src="images/space1.jpg">
                    <div>Space</div>
                </div>
            </a>

            <a href="/work/fractals">
                <div class="PictureButton">
                    <img style="object-fit: cover" src="images/fractal3.jpg">
                    <div>Fractals</div>
                </div>
            </a>
        </div>

        <h2>Games In Development</h2>
        <div class="TwoColumn" style="grid-gap: 20px; grid-template-rows: 1fr; align-items: stretch">
            <a href="/work/void_money">
                <div class="PictureButton">
                    <img width="100%" height="52.916%" style="object-fit: cover" src="https://img.itch.zone/aW1nLzM4OTM3ODEucG5n/original/r%2Bx%2F9A.png">
                    <div>Void Money by MorphSight</div>
                </div>
            </a>
        </div>
    </div>
    <div class="Category">
        <h3>Languages Over Time</h3>
        <div>
            <figure><embed src="https://wakatime.com/share/@043fa528-533c-4629-8dbc-8b3a99679a86/18b79de5-df8b-4d5f-bfd3-7b2094d51dd2.svg"></embed></figure>
        </div>
    </div>
    <div class="Category">
        <h3>Editors</h3>
        <div>
            <figure><embed src="https://wakatime.com/share/@043fa528-533c-4629-8dbc-8b3a99679a86/56e476ef-ce4b-4930-b5fc-724d77b02009.svg"></embed></figure>
        </div>
    </div>
</div>
<br>



<!--<h3 style="place-self: center">About is coming soon!.</h3>-->

<!--<h4>Let's get you back <a href="/">Home</a>!</h4>-->