<a href="/courses">
    <div class="StretchWidth mainMid">
        <div class="MainMenuScreen">
            <div style="display: grid; grid-template-columns: 1fr">
                <div>
                    <img src="images/marbles/hi/courses.png">
                </div>
                <div>
                    <h1>Learn to <span class="LightEmphasis">Code</span></h1>
                    <div class="RegText"><div class="PadLight">Offering One-on-One Programming Courses for $35 an hour</div>
                </div>
            </div>
<!--            <h5>Programming Courses by Alexander Farrell</h5>-->
        </div>
    </div>
    </div>
</a>
<div id="Home" class="StretchWidth">
    <a href="/courses/guide">
        <div class="MainMenuButton blueMid">
            <img src="images/marbles/hi/ColdChaos.png">
            <h3>Programming Tutorials</h3>
            <div class="RegText">Online and Free</div>
            <!--                <img src="images/marbles/hi/d.png">-->
        </div>
    </a>
    <a href="/about">
        <div class="MainMenuButton magentaMid">
            <img src="images/marbles/hi/Imagination.png">
            <h3>About</h3>
            <div class="RegText">Marbles and Myself</div>
        </div>
    </a>
    <a>
        <div class="MainMenuButton softMid">
            <img src="images/marbles/hi/b.png">
            <h3>Games</h3>
            <!--            <div class="RegText">Play and Explore</div>-->
            <div>(Coming Soon)</div>
        </div>
    </a>
    <a>
        <div class="MainMenuButton softMid">
            <img src="images/marbles/hi/VariantAligned.png">
            <h3>Art</h3>
            <!--            <div class="RegText">Read and Enjoy</div>-->
            <div>(Coming Soon)</div>
        </div>
    </a>


<!--    <a href="/courses/guide">-->
<!--        -->
<!--    </a>-->
<!--    <a href="/courses/guide">-->
<!--        -->
<!--    </a>-->
</div>
<!--<a href="/about">-->
<!--    <div class="StretchWidth turquoiseMid">-->
<!--        <div class="MainMenuButton">-->
<!--            <div style="display: grid; grid-template-columns: 1fr">-->
<!--                <div>-->
<!--                    <img src="images/marbles/hi/courses.png">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <h1>Learn to <span style="color: #8acbff">Code</span></h1>-->
<!--                    <div class="RegText"><div style="padding-left: 10%; padding-right: 10%"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;            <h5>Programming Courses by Alexander Farrell</h5>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--</a>-->
<!--<h1>Welcome</h1>-->
<!--<div id="Home">-->


<!--&lt;!&ndash;    <a href="/courses" style="grid-column-start: 1; grid-column-end: 4;">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="PictureButton">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="images/ad6.png">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--    <a href="/articles">-->
<!--        <div class="CatButton">-->
<!--            <img src="images/World.png">-->
<!--            <div>Articles</div>-->
<!--        </div>-->
<!--    </a>-->
<!--    <a href="/work">-->
<!--        <div class="CatButton">-->
<!--            <img src="images/Fly.png">-->
<!--            <div>Work</div>-->
<!--        </div>-->
<!--    </a>-->
<!--    <a href="/about">-->
<!--        <div class="CatButton">-->
<!--            <img src="images/alex.jpg">-->
<!--            <div>About Me</div>-->
<!--        </div>-->
<!--    </a>-->
<!--</div>-->
