<div id="CoursesHome" class="StretchWidth">
    <div class="ContentItem">
        <div class="TwoColumn" style="width: 100%; padding: 2% 10%; grid-column-start: 1; grid-column-end: 4;">
            <div>
                <h1>Conquer Coding</h1>
                <p class="RegText">Offering one-on-one programming courses for $25 an hour.</p>
                <a href="/courses">
                    <div class="Button">
                        Learn More
                    </div>
                </a>
            </div>
            <img src="/wqdf.png">
        </div>
    </div>
</div>
<div>

</div>
<!--<h1>Welcome</h1>-->
<div id="Home">


<!--    <a href="/courses" style="grid-column-start: 1; grid-column-end: 4;">-->
<!--        <div class="PictureButton">-->
<!--            <img src="images/ad6.png">-->
<!--        </div>-->
<!--    </a>-->
    <a href="/articles">
        <div class="PictureButton">
            <img src="images/World.png">
            <div>Articles</div>
        </div>
    </a>
    <a href="/work">
        <div class="PictureButton">
            <img src="images/Fly.png">
            <div>Work</div>
        </div>
    </a>
    <a href="/about">
        <div class="PictureButton">
            <img src="images/alex.jpg">
            <div>About Me</div>
        </div>
    </a>
</div>
