<a href="/courses">
    <div class="StretchWidth mainMid">
        <div class="MainMenuScreen">
            <div style="display: grid; grid-template-columns: 1fr">
                <div>
                    <img src="images/marbles/hi/courses.png">
                </div>
                <div>
                    <h1>Learn to <span class="LightEmphasis">Code</span></h1>
                    <div class="RegText"><div class="PadLight">Offering One-on-One Programming Courses for $25 an hour</div></div>
                </div>
            </div>
        </div>
    </div>
</a>
<div id="Home" class="StretchWidth">
    <a href="/r/games">
        <div class="MainMenuButton turquoiseMid">
            <img src="images/marbles/hi/b.png">
            <h3>Games</h3>
            <div class="RegText">Play Games</div>
        </div>
    </a>
<!--    <a href="https://github.com/AlexanderFarrell" target="_blank">-->
<!--        <div class="MainMenuButton springMid">-->
<!--            <img src="images/marbles/hi/M01a.png">-->
<!--            <h3>Code</h3>-->
<!--            <div class="RegText">Public Repositories</div>-->
<!--        </div>-->
<!--    </a>-->
<!--    <a href="/art">-->
<!--        <div class="MainMenuButton  mainMid">-->
<!--            <img src="images/marbles/hi/VariantAligned.png">-->
<!--            <h3>Art</h3>-->
<!--            <div class="RegText">View Collections</div>-->
<!--        </div>-->
<!--    </a>-->
    <a href="/about">
        <div class="MainMenuButton magentaMid">
            <img src="images/marbles/hi/Imagination.png">
            <h3>About</h3>
            <div class="RegText">Projects and Myself</div>
        </div>
    </a>
    <a> <!--href="/r/tutorials"-->
        <div class="MainMenuButton softMid">
            <img src="images/marbles/hi/InProgress2.png">
            <h3>Online Tutorials</h3>
<!--            <div class="RegText">Online and Free</div>-->
            <div class="RegText">(Coming Soon)</div>
        </div>
    </a>
    <a> <!--href="/r/tutorials"-->
        <div class="MainMenuButton softMid">
            <img src="images/marbles/hi/InProgress2.png">
            <h3>Blog</h3>
<!--            <div class="RegText">Online and Free</div>-->
            <div class="RegText">(Coming Soon)</div>
        </div>
    </a>
</div>
