@import "constants";

#Classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}
#Classes > div {
  width: 1fr;
}
.ClassDisplay {
  color: white !important;
  border-radius: 15px;
  padding: 30px 15px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#Heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  place-items: center;
  padding-bottom: 3vh;
}
#HeadingIcon {
  padding: 20%;
}
#ClassContainer {
  padding: 1rem 0;
}
.Lessons {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  color: white !important;
  grid-template-columns: 1fr;
}
@media only screen and (max-width: 800px) {
  #Heading {
    grid-template-columns: 1fr;
  }
  #Heading > div {
    direction: ltr;
  }
  #HeadingIcon {
    padding: 10% 30%;
    grid-row: 1;
  }
  #HeadingText {
    grid-row: 2;
  }
}