@import "constants";

#CoursesHome {
  background: radial-gradient($background-color, $mid-dark-color);
  padding: 0 5%;
}

#Home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.CoursesAdItem {
  padding: 1% 0;
}

.MainMenuScreen {
  text-align: center;
  color: white;
  display: grid;
  place-items: center;
  padding: 0 5%;
}

.MainMenuScreen img {
  max-width: 40%;
  object-fit: contain;
}

.MainMenuScreen, .MainMenuButton {
  display: grid;
  padding: 5%;
  grid-template-rows: 1fr auto auto;
}

.MainMenuButton img {
  max-width: 40%;
  object-fit: contain;
}

.MainMenuButton {
  //height: 40vw;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: grid;
  place-items: center;
  //padding: 5%;
  //background-color: #77b4fa;
  //background: radial-gradient($background-color, $mid-dark-color);
}

@media only screen and (max-width: 600px) {
  .MainMenuButton, .MainMenuScreen {
    //height: 80vw;
  }
  #Home {
    grid-template-columns: 1fr;
  }
}