#Topics {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-gap: 1rem;
}

#News {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  display: grid;
  grid-gap: 1rem;
}

.NewsDate {
  font-size: 0.75rem;
  text-align: right;
}

.NewsText {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}