
@import "constants";
@import "colors";
@import "tags";

@import "common_views";
@import "template_views";

@import "home_views";
@import "courses";
@import "guide";
@import "publications";
@import "games";
@import "art";

:root {
  font-size: 125%;
  --scroll-bar: 8px;
}

@media(-webkit-min-device-pixel-ratio: 2) {
  :root {
    font-size: 100%;
    --scroll-bar: 16px;
  }
}