html {
    min-height: 100vh;
    width: 100vw;
    transition: 0.2s;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

header {
    width: 100%;
}

footer {
    width: 100%;
    text-align: center;
}

#courses {
    margin: 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
    color: #ffffff;
}

.IconContainer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
}

.Icon {
    font-size: 3.6em;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

.TwoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    margin: 0;
    padding: 15px;
}

a {
    color: #0019b6;
    text-decoration: none;
    transition: 0.2s;
    text-shadow: none;
}

a:hover {
    color: rgba(0, 41, 133, 0.62);
    transition: 0.2s;
}

.Section {
    padding: 2%;
}

.MainMenu {
    background: linear-gradient(180deg, #5ee7b2, #008a27);
    text-shadow: black 1px 1px 1px;
    color: white;
    width: 100%;
    height: 100%;
}

.MainButtons {
    width: 60%;
    margin: auto;
}

.Button {
    margin: 15px;
    padding: 12px;
    border: white solid 2px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    transform: scale(0.94);
    transition: 0.2s;
    box-shadow: rgba(58, 58, 58, 0.4) 2px 2px 2px;
    font-size: 1.8em;
}

.Button:hover {
    background-color: #286283;
    transform: scale(0.97);
    transition: 0.2s;
}