<style>
</style>
<a href="/courses/guide">Back to Tutorials</a>
<div class="tutorial">
    <%- include(tutorial) %>
</div>
<hr>
<p>If you would like some help, please schedule a <a href="/courses">crash course</a>.</p>
<br>
<% if (has_next_lesson) {%>
    <p>Next Lesson: </p>
    <a href="<%= next_lesson.url%>">
        <div style="place-self: center; text-align: center; background: conic-gradient(rgba(255,0,106,0.24) 0%, rgba(0,0,255,0.4) 15%, rgba(55,0,255,0.27) 40%, rgba(13,0,128,0.33) 50%); border-radius: 10px">
            <h3><%= next_lesson.name%></h3>
            <p><%= next_lesson.desc%></p>
        </div>
    </a>
<% }%>
<br>
<a style="text-align: center" href="/courses/guide">Back to Tutorials</a>
<hr>

<script>
    document.getElementById('Background').style.background = 'Black';
    document.getElementById("Background").style.backgroundImage = 'none';
</script>