
<h1>Comments</h1>
<p>Comments let us write in our code.</p>
<pre><code># This is a comment</code></pre>
<hr>
<p>Comments are ignored when you run the program.</p>
<pre><code>a = 8
# a += 2
print(a)</code></pre>
<p>Output: 8</p>
<p>The line a += 2 was ignored!</p>
<hr>
<p>We can use comments for all sorts of things</p>
<pre><code># Author: Alex</code></pre>
<pre><code># Author: Alex</code></pre>
<hr>