<h1>Set Up</h1>
<p>To start with Python, I recommend an online editor.</p>
<hr>
<p>Online editors let you try or use Python without installing anything. </p>
<a target="_blank" rel="noopener noreferrer"  href="https://wiki.python.org/moin/PythonEditors#Online_Editors">A list of online editors can be found on the official Python wiki. Choose the one you like!</a>
<hr>
<p>An IDE (Integrated Development Environment) lets you write code and run it from your device.</p>
<p>You may also install an IDE of your choosing</p>
<a target="_blank" rel="noopener noreferrer"  href="https://wiki.python.org/moin/IntegratedDevelopmentEnvironments">IDEs listed on the official Python wiki. Choose the one you like.</a>
<p>I personally use PyCharm, but I am not sponsoring it here. This is just my personal preference.</p>