<h2>Variables</h2>
<p>A variable holds data for us!</p>
<pre><code>a = 15</code></pre>
<hr>
<p>We can have many variables</p>
<pre><code>a = 15
b = 20
c = 30
print(b)</code></pre>
<p>The output of this code is:</p>
<pre><code>20</code></pre>
<p><strong>Notice it printed 20</strong>, because b is 20.</p>
<p>The variables a and c exist, but we don't do anything with them!</p>
<hr>
<h3>Naming Variables</h3>
<p>We have a lot of flexibility with naming variables</p>
<ul>
    <li><code>hello = 15</code></li>
    <li><code>alex = 15.475</code></li>
    <li><code>some_text = "Hello there!"</code></li>
    <li><code>a = 10</code></li>
    <li><code>b = 9</code></li>
    <li><code>c = 80</code></li>
</ul>
<hr>
<h3>Naming Rules</h3>
<p>Some rules for naming in Python</p>
<ul>
    <li>variables should be lowercase</li>
    <li>We cannot use spaces. Use_an_underscore_instead.</li>
    <li>Avoid punctuation.!? And avoid symbols&^@%#</li>
    <li>Avoid numbers4564. May still work, but there are specific cases where they don't.</li>
</ul>
<hr>
<h2>Setting Variables</h2>
<p>We can set variables to whatever we like. </p>
<ul>
    <li><code>a = 15</code></li>
    <li><code>a = 15.475</code></li>
    <li><code>a = "Hello there!"</code></li>
    <li><code>a = 0</code></li>
    <li><code>a = None</code></li>
    <li><code>a = "Some more text!"</code></li>
</ul>
<hr>
<h3>Types</h3>
<p>There are many different kinds of data. We call these types.</p>
<div class="TwoColumn" style="grid-gap: 20px">
    <div style="text-align: right">One kind of number</div>
    <div><code>a = 15</code></div>
    <div style="text-align: right">Another kind of number</div>
    <div><code>a = 1.0</code></div>
    <div style="text-align: right">A kind of text</div>
    <div><code>a = "My name is Alex"</code></div>
</div>
<p>We will learn more about types in a future lesson.</p>
<p>However, we will go over these 3 types right now!</p>
<hr>
<h3>Numbers</h3>
<p>Let's discuss two different kinds of numbers:</p>
<ul>
    <li>Those <strong>with</strong> a decimal</li>
    <li>Those <strong>without</strong> a decimal</li>
</ul>
<hr>
<h3>Two Types of Numbers</h3>
<p>In programming, these have names</p>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 15px; text-align: center">
    <div><strong>&nbsp;</strong></div>
    <div><strong>Name</strong></div>
    <div><strong>Short Name</strong></div>
    <div><strong>Example</strong></div>
    <div>No decimal</div>
    <div>Integer</div>
    <div>int</div>
    <div>256</div>
    <div>Decimal</div>
    <div>Floating Point</div>
    <div>float</div>
    <div>82.956</div>
</div>
<hr>
<h2>Integer</h2>
<p>Here is a variable set to an integer</p>
<pre><code>a = 15</code></pre>
<hr>
<h2>Float</h2>
<p>Here is a variable set to a float</p>
<pre><code>a = 89.15268</code></pre>
<hr>
<h2>More on Floats</h2>
<p>Sometimes a float has 0s at the end. That is okay! We may need decimals later.</p>
<p>If this is the case, indicate this.</p>
<pre><code>a = 1<span style="color: red">.0</span></code></pre>

<hr>
<h2>Strings</h2>
<p>Text in programming is called a string.</p>
<pre><code>a = "What would you like to do?"</code></pre>
<hr>
<h2>Example</h2>
<p>For the following code:</p>
<pre><code>a_number = 15
a_string = "My name is Alex"

print(a_number)</code>
</pre>
<br>
<p>We have the following output:</p>
<pre><code>15</code></pre>
<hr>
<p>Next we will learn about math.</p>