<h1>Welcome!</h1>
<p>The first courses will take you through several of the fundamentals of programming.</p>
<hr>
<h3>Concepts</h3>
<p>Many languages have similar concepts.</p>
<p>By learning these concepts: </p>
<ul>
    <li>One can understand different languages faster</li>
    <li>One can learn programming easier</li>
    <li>One can better communicate with those with different programming backgrounds.</li>
    <li>One can gain a deeper understanding of how software works.</li>
    <li>One can gain more insight in designing software</li>
    <li>One can gain more insight in planning software</li>
</ul>
<hr>
<p>We will start with Python.</p>
<p>Later, we will show these concepts with Python and JavaScript alongside one another. </p>