<div style="padding-top: 2vh; padding-bottom: 2vh;">
    <h1><%= name %></h1>
</div>
<div id="Lessons">
    <% for (var i = 0; i < units.length; i++) {%>
        <div data-unit_name="<%= units[i].title%>">
            <h2><%= units[i].title%></h2>
        </div>
    <%}%>
</div>

<script src="/guide_client.js">
</script>
<script>
    AddItems('unit_name', GetLessons);
</script>