<div id="Heading">
    <div id="HeadingText">
        <h1><span class="accent">Conquer</span> the Concepts</h1>
        <div class="RegText">Dive into programming with free tutorials online! Dissect concepts and practice with exercises.</div>
    </div>
    <div>
        <img id="HeadingIcon" src="/images/marbles/hi/ColdChaos.png">
    </div>
</div>
<div class="StretchWidth midBackground">
    <div id="ClassContainer" class="ContentItem">
        <div id="Classes">
            <% for (var i = 0; i < classes.length; i++) {%>
                <a href="/guide/classes/<%= classes[i].title%>" data-class-name="<%= classes[i].title%>">
                    <div style="width: 100%; height: 100%; box-sizing: border-box" class="ClassDisplay Button">
                        <h2>
                            <%= classes[i].title%>
                        </h2>
                        <div class="RegText">
                            <%= classes[i].description%>
                        </div>
                    </div>
                </a>
            <%}%>
        </div>
    </div>
</div>
<!--<p>Below is a list of free tutorials you can use!</p>-->
<!--<p>Tutorials are currently under construction as we take much of the course material and put it online. More tutorials to be added soon!</p>-->
<!--<p>My goal is to help make it easier to learn how to program. If you would like some help over Zoom, please schedule a <a href="/courses">crash course</a>.</p>-->
