<style>
    #Classes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .ClassDisplay {
        background: linear-gradient(180deg, rgba(0, 0, 255, 0.73), rgba(0, 0, 139, 0.7));
        color: white !important;
        border-radius: 15px;
        padding: 15px;
    }
</style>

<h1>Tutorials</h1>
<p>Below is a list of free tutorials you can use!</p>
<p>Tutorials are currently under construction as we take much of the course material and put it online. More tutorials to be added soon!</p>
<p>My goal is to help make it easier to learn how to program. If you would like some help over Zoom, please schedule a <a href="/courses">crash course</a>.</p>
<div id="Classes">
    <% for (var i = 0; i < classes.length; i++) {%>
        <a class="ClassDisplay" href="/courses/guide/classes/<%= classes[i].title%>">
            <div data-class-name="<%= classes[i].title%>">
                <div>
                    <h2>
                        <%= classes[i].title%>
                    </h2>
                    <p>
                        <%= classes[i].description%>
                    </p>
                </div>
            </div>
        </a>
    <%}%>
</div>