<br>
<!--<a href="/courses/guide">-->
<!--    <div class="Button" style="width: ">-->
<!--        Back to Tutorials-->
<!--    </div>-->
<!--</a>-->
<div class="tutorial">
<!--    <h1><%= lesson.title %></h1>-->
<!--    <p style="font-size: small"><i>Overview: </i><%= lesson.description %></p>-->
    <%- lesson.html %>
</div>
<hr>
<p>Would you like any help? Schedule a <a href="/courses">crash course</a>.</p>
<br>

<br>

<a href="/courses/guide">
    <div class="Button">
        Back to Tutorials
    </div>
</a>
<br style="width: 10rem">

<!--<script>-->
<!--    document.getElementById('Background').style.background = 'Black';-->
<!--    document.getElementById("Background").style.backgroundImage = 'none';-->
<!--</script>-->