<style>
</style>
<a href="/courses/guide">Back to Tutorials</a>
<div class="tutorial">
    <h1><%= lesson.title %></h1>
    <p style="font-size: small"><i>Overview: </i><%= lesson.description %></p>
    <%- lesson.html %>
</div>
<hr>
<p>If you would like some help, please schedule a <a href="/courses">crash course</a>.</p>
<br>

<br>
<a style="text-align: center" href="/courses/guide">Back to Tutorials</a>
<hr>

<script>
    document.getElementById('Background').style.background = 'Black';
    document.getElementById("Background").style.backgroundImage = 'none';
</script>