<div id="Unit">
    <% for (var i = 0; i < units.length; i++) {%>
        <div data-class-name="<%= units[i].title%>">
            <a href="/guide/classes/<%= units[i].title%>">
                <div>
                    <h2>
                        <%= units[i].title%>
                    </h2>
                    <p>
                        <%= units[i].description%>
                    </p>
                </div>
            </a>
        </div>
    <%}%>
</div>