<div style="padding: 0 0">
    <div id="MainItem" class="ContentItem">
        <div id="MainItemInfo">
            <div>
                <h1 id="MainItemTitle">Learn to <span class="accent" style="grid-column: 2">Code</span></h1>
            </div>
            <div id="MainItemDetails">Offering one-on-one programming tutoring and courses for $25 an hour. Conquer several languages. Build apps, games and websites. </div>
            <a style="width: 100%; text-align: center" class="DeepTheme" href="#start">
                Schedule
            </a>
        </div>
        <div id="MainItemLogo">
            <img src="/images/marbles/hi/courses.png">
            <!--                <h2>One-on-One</h2><h4>Crash Courses</h4>-->
        </div>
    </div>
    <br>
    <div class="StretchWidth" style="background: hsl(230,38%,36%)">
        <div class="ContentItem" style="padding-top: 1rem">
            <div class="Benefit BenefitR">
                <h3 class="BenefitTitle">Learn How to Build Apps, Games and Websites</h3>
                <div class="BenefitImage">
                    <img src="images/auth.png">
                </div>
                <div class="BenefitDescription">Start your portfolio of software projects. Learn how to plan, design, create, test and even deploy/publish your own projects! Get one-on-one help. </div>
            </div>
            <div class="Benefit BenefitR">
                <h3 class="BenefitTitle">Cover Fundamentals</h3>
                <div class="BenefitImage">
                    <img src="images/code.png">
                </div>
                <div class="BenefitDescription">Learn concepts in computer programming. <span class="accent">Gain confidence with code.</span> </div>
            </div>
        </div>
    </div>
    <br>
    <div id="Languages" class="ContentItem">
        <h1>Dive Into Several Topics</h1>
        <p>Cover several powerful and popular technologies to code websites, servers, statistics projects, games, databases and more. </p>
        <div id="LanguagesContainer">
            <% for (var i = 0; i < languages.length; i++) { %>
                <div class="LanguageIcon">
<!--                    <%- languages[i].icon %>-->
                    <img src="<%- languages[i].logo %>">
                    <div><%= languages[i].name%></div>
                </div>
            <%}%>
        </div>
    </div>
    <div class="StretchWidth" style="background: hsl(230,38%,36%)">
        <br>
        <div class="ContentItem">
            <div class="TwoColumn" style="place-items: center; grid-gap: 40px">
                <h2>Beginners Welcome</h2>
                <div>New to programming? No prior knowledge required! Feel free to schedule a course and we will get started! </div>
                <h2>Need Something Specific?</h2>
                <div>Get one-on-one help learning any of the frameworks/languages above. Feel free to get in touch about any special requests.</div>
                <h2>Schedule at Your Leisure</h2>
                <div>Call, email or book online. Feel free to get in touch if you'd like to set up a regular time. </div>
            </div>
        </div>
        <br>
    </div>
    <div id="start" style="height: 70px !important;">&nbsp;</div>
    <div id="GetStarted" class="ContentItem">
        <div>
            <h1>Let's Get <span class="accent" >Started</span></h1>
            <h2>With Your First Course</h2>
            <img id="GetStartedLogo" src="/images/marbles/hi/courses.png">
        </div>
        <div id="GetStartedButtons">
            <a href="tel:714-794-5693" class="ContactButton DeepTheme">
                <div style="text-align: center" class="SmallIcon">📱</div>
                <div style="text-align: center; font-size: 1rem">
                    <h3 class="ContactTitle">Call or Text</h3>
                    <div>(714) 794-5693</div>
                </div>
            </a>
            <a href="mailto: courses@alexanderfarrell.com" class="ContactButton DeepTheme">
                <div style="text-align: center" class="SmallIcon">✉️</div>
                <div style="text-align: center; font-size: 0.8rem">
                    <h3 class="ContactTitle">Send Email</h3>
                    <div>courses@alexanderfarrell.com</div>
                </div>
            </a>
<!--            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/alexander-crash-courses/1-hour-lesson?background_color=000827&text_color=ffffff&primary_color=ac0053'}); return false" class="ContactButton Scream"-->
            <!--<a href="https://calendly.com/alexander-crash-courses/1-hour-lesson" class="ContactButton Scream">
                <div style="text-align: center" class="SmallIcon">🕐</div>
                <div style="text-align: center; font-size: 1rem">
                    <h3 class="ContactTitle">Book Online</h3>
                    <div>One Hour Course</div>
                </div>
            </a>-->
        </div>
    </div>
</div>