<!-- The heading section -->
<div class="midBackground">
    <div class="ContentItem" style="padding-top: 1rem; padding-bottom: 1rem;">
        <div style="display: grid; grid-template-columns: 1fr 1fr">
            <img src="/images/marbles/hi/courses.png" style="padding: 5%">
            <div style="padding: 5%; display: grid; grid-gap: 10px; grid-template-rows: auto auto auto auto; grid-template-columns: 1fr; align-items: center; align-content: center">
                <h1>Learn to <span class="accent">Code</span></h1>
                <div>
                    Offering One-on-One programming courses & assistance for $35 an hour.
                </div>
                <div class="Button">Contact</div>
                <div class="Button">Explore Courses</div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div>
    <div>
        <h1>Get Help in Over 27 Different Topics</h1>
        <div>Need tutoring or assistance? Take a look at this list or let's get in touch.</div>
    </div>
    <div>
        <h1>Create or Expand Your Portfolio</h1>
        <div>Learn to build websites, apps, games and more.</div>
    </div>
    <div>
        <h1>Move from Start to Finish</h1>
        <div>Learn to plan, design, create, test and deploy software.</div>
    </div>
</div>

<!-- Courses -->
<div>
    <% for (var i = 0; i < languages.length; i++)  { %>
    <div>
        <% languages[i].name%>
    </div>
    <% } %>
</div>


<!-- Topics -->

<!-- Philosophy -->
