<span id="first"></span> <span id="symbol"></span> <span id="second"></span> = ?
<label for="answer">Answer: </label><input id="answer" type="number">
<button>Answer</button>

<script src="javascripts/math.js"></script> 