<a href="/pub/<%= title %>">
    <div class="Button">
        <h2><%= title %></h2>
        <div class="RegText NewsText">
            <%- description %>
        </div>
        <div class="NewsDate">
            <%- date %>
        </div>
    </div>
</a>