<a href="/r/games">Back to Games</a>
<div class="ContentItem">
    <h1>Buried Peace</h1>
    <p>(Currently in development)</p>
    <p>An alien force conquered earth, with only some humans making their way underground. Unite mankind underground and recapture the surface.</p>
    <h2>Screenshots</h2>
    <img src="/images/screenshots/BuriedPeace/s1.png">
    <img src="/images/screenshots/BuriedPeace/s4.png">
    <img src="/images/screenshots/BuriedPeace/s5.png">
    <img src="/images/screenshots/BuriedPeace/s7.png">
    <h2>Repository</h2>
    <p>A repository is available of one of the prototypes of this game. It is developed with Swift, and runs on Metal.</p>
    <p><a href="https://github.com/AlexanderFarrell/buried-peace-concept">Link to Repository</a></p>
</div>