<div class="mainMid">
    <div class="ContentItem">
<!--        <div class="mainMid" style="padding: 20px">-->
<!--            <h1 style="margin: 0">Games</h1>-->
<!--        </div>-->
        <a href="/r/ordered_energy">
            <div class="ImageItem TwoColumn Product" style='width: 100%; font-size: 1.2rem; background-image: url("/images/games/oe.jpg")'>
                <div style="align-self: end; text-align: left">
                    <span style="color: #e1ff8e">Strategize</span> and Succeed
                </div>
                <div style="align-self: end; text-align: right">
                    <img class="low_marble" src="/images/marbles/low/Somelow.png">
                    Ordered Energy
                </div>
            </div>
        </a>
        <div class="Adapt2r Products" style="justify-content: center">
            <a href="/r/you_cannot">
                <div class="ImageItem Product" style='background-image: url("/images/games/you.jpg")'>
                    <div><span style="color: #ff9102">Dive</span> into Chaos</div>
                    <div style="font-size: 0.9rem; background-color: rgba(0,0,49,0.68)"><img class="low_marble" src="/images/marbles/low/ycbtglow.png"> You Cannot Beat This Game</div>
                </div>
            </a>
            <a href="/r/stock_simulator">
                <div class="ImageItem Product" style='background-image: url("/images/games/stock.jpg")'>
                    <div><span style="color: #02ff06; ">Explore</span> the Economy</div>
                    <div style="font-size: 0.9rem; background-color: rgba(0,0,49,0.68)"><img class="low_marble" src="/images/marbles/low/stockm.png"> Class Project - Stock Simulator</div>
                </div>
            </a>
        </div>
        <div class="mainMid" style="padding: 20px">
            <h3 style="margin: 0">In Development</h3>
        </div>
        <div class="Adapt3r Products">
            <a href="/r/buried_peace">
                <div class="ImageItem Product" style='background-image: url("/images/games/buried.jpg")'>
                    <div><span class="accent_dark">Recapture</span> the Surface</div>
                    <div><img class="low_marble"  src="/images/marbles/low/dlow.png"> Buried Peace</div>
                </div>
            </a>
            <a href="/r/raise_triton">
                <div class="ImageItem Product" style='background-image: url("/images/games/warp.jpg")'>
                    <div><span style="color: #026aff">Conquer</span> the Ocean</div>
                    <div><img class="low_marble"  src="/images/marbles/low/clow.png"> Raise Triton</div>
                </div>
            </a>
            <a href="/r/void_money">
                <div class="ImageItem Product" style='background-image: url("/images/games/vm.jpg")'>
                    <div>Conduct <span style="color: yellow">Business</span></div>
                    <div><img class="low_marble"   src="/images/marbles/low/VoidMoney2low.png"> Void Money</div>
                </div>
            </a>
        </div>
    </div>


</div>
