<div class="GameBannerContainer">
    <img style="width: 100%" class="GameBanner" src="/images/games/stock.jpg">
    <a href="https://class-project-stock-simulator.herokuapp.com/" target="_blank">
        <div class="GameTitle turquoiseMid">
            <img src="/images/marbles/low/StockSimulatorLow.png">
            <h3>
                Stock Simulator
            </h3>
            <div>
                Play Online
            </div>
        </div>
    </a>
</div>
<div class="ContentItem">
    <p>Buy and sell fake shares with fake cash based on real market data.</p>
    <h2>Disclaimer</h2>
    <p>This game gathers data from the real stock market, albeit the prices may be not in real time. The game is intended as a fun project, and not to be used as advise of any kind. Please see the agreement on the page before playing. </p>
    <a href="/r/games">Back to Games</a>
    <br>
    <br>
</div>


<!--<a href="/r/games">Back to Games</a>-->
<!--<div class="ContentItem">-->
<!--    <h1>-->
<!--        Class Project - Stock Simulator-->
<!--    </h1>-->
<!--    <p>Buy and sell fake shares with fake cash based on real market data.</p>-->
<!--    <h2>Play!</h2>-->
<!--    <div style="background-color: #000031">-->
<!--        <a href="https://class-project-stock-simulator.herokuapp.com/">-->
<!--            <div class="ImageItem Product" style='background-image: url("/images/games/stock.jpg")'>-->
<!--                <div><span style="color: #02ff06">Play Now on Game Website</span></div>-->
<!--                <div style="font-size: 0.9rem; background-color: rgba(0,0,49,0.68)"><img class="low_marble" src="/images/marbles/low/stockm.png"> Class Project - Stock Simulator</div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
<!--    <p>Press above to be taken to the game website (May take a couple seconds to load).</p>-->
<!--    <h2>System Requirements</h2>-->
<!--    <p>This game requires a browser and local storage to play. </p>-->
<!--    <h2>Disclaimer</h2>-->
<!--    <p>This game gathers data from the real stock market, albeit the prices may be not in real time. The game is intended as a fun project, and not to be used as advise in any kind. Please see the agreement on the page before playing. </p>-->
<!--</div>-->
