<div class="aquaMid" style="display: grid; place-items: center; padding: 5%">
    <div style="max-width: 500px; justify-items: center; grid-gap: 10px">
        <div style="place-items: center">
            <img src="/images/marbles/hi/ColdChaos.png" style="padding-left: calc(50% - 70px); padding-right: calc(50% - 70px);">
        </div>
        <h5>
            Learn to Code
        </h5>
<!--        <a href="/r/tutorials/start">-->
<!--            <div class="Button" style="width: 50%; margin-left: 25%">-->
<!--                Begin-->
<!--            </div>-->
<!--        </a>-->
    </div>
</div>
<style>
    #ByLanguageTutorials {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 90px));
        grid-template-rows: 90px;
        text-align: center;
        grid-gap: 40px;
        place-content: center;
    }
</style>

<div class="magentaMid" style="display: grid; align-items: center; grid-gap: 10px;  padding: 5%;">
    <h4>Learn by Language</h4>
    <div id="ByLanguageTutorials" style="">
        <a href="/r/tutorials/python">
            <div class="LanguageIcon">
                <img src="/images/lang/python.svg">
                Python
            </div>
        </a>
        <a href="/r/tutorials/javascript">
            <div class="LanguageIcon">
                <img src="/images/lang/javascript.svg">
                JavaScript
            </div>
        </a>
        <a href="/r/tutorials/html">
            <div class="LanguageIcon">
                <img src="/images/lang/html.svg">
                HTML
            </div>
        </a>
        <a href="/r/tutorials/css">
            <div class="LanguageIcon">
                <img src="/images/lang/css.svg">
                CSS
            </div>
        </a>
    </div>

<!--    <a href="/r/tutorials/start">-->
<!--        <div class="Button" style="width: 50%; margin-left: 25%">-->
<!--            Languages-->
<!--        </div>-->
<!--    </a>-->
<!--    <a href="/r/tutorials/start">-->
<!--        <div class="Button" style="width: 50%; margin-left: 25%">-->
<!--            Start-->
<!--        </div>-->
<!--    </a>-->
</div>