<div class="GameBannerContainer">
    <img style="width: 100%" class="GameBanner" src="/images/games/vm.jpg">
    <a>
        <div class="GameTitle turquoiseMid GameTitleInactive">
            <img src="/images/marbles/low/VoidMoney2low.png">
            <h3>
                Void Money
            </h3>
            <div>
                (In Development)
            </div>
        </div>
    </a>
</div>
<div class="ContentItem">
        <p>Buy, sell, start and run simulated companies in a simulated economy. </p>
    <p>Currently in development</p>
    <a href="/r/games">Back to Games</a>
    <br>
    <br>
</div>


<!--<a href="/r/games">Back to Games</a>-->
<!--<div class="ContentItem">-->
<!--    <h1>Void Money</h1>-->
<!--    <p>(Currently in development)</p>-->
<!--    <p>Void Money is a business simulator which lets players buy, sell, start and run simulated companies in a simulated economy. </p>-->
<!--    <h2>Screenshots</h2>-->
<!--    <p>Work in progress.</p>-->
<!--</div>-->

