<!--<a href="/r/games">Back to Games</a>-->
<div class="GameBannerContainer">
    <img style="width: 100%" class="GameBanner" src="/images/screenshots/YCBTG/YCBTG1.jpg">
    <a href="https://1drv.ms/u/s!AumGIA0MBPOWiNZfCxNjyg_bkB_RNw?e=fxGX9x">
        <div class="GameTitle turquoiseMid">
            <img src="/images/marbles/low/ycbtglow.png">
            <h3>
                You Cannot Beat This Game
            </h3>
            <div>
                Download
            </div>
        </div>
    </a>
</div>


<!--<div class="GameBannerContainer">-->
<!--    <img style="width: 100%" class="GameBanner" src="/images/screenshots/YCBTG/YCBTG1.jpg">-->
<!--    <div class="GameTitle" style="background: rgba(3,16,28,0.71)">-->
<!--        <h3>-->
<!--            You Cannot Beat This Game-->
<!--        </h3>-->
<!--        <a href="https://1drv.ms/u/s!AumGIA0MBPOWiNZfCxNjyg_bkB_RNw?e=fxGX9x">Download</a>-->
<!--    </div>-->
<!--</div>-->
<div class="ContentItem">
    <p>Dive deep down into the unknown. Fight monsters deep below the icy surface. Secret levels at the end if you can succeed.</p>
    <p>This was one of my very first games published. I keep it here for archive purposes, but you are more than welcome to play it! Published circa 2007. </p>
<!--    <p>Or maybe you can! I make no guarantees.</p>-->
<!--    <h2>Download</h2>-->
<!--    <div style="background-color: #000031">-->
<!--        <a href="https://1drv.ms/u/s!AumGIA0MBPOWiNZfCxNjyg_bkB_RNw?e=fxGX9x" style="place-self: center">-->
<!--            <div class="ImageItem Product" style='background-image: url("/images/games/you.jpg")'>-->
<!--                <div><span style="color: #ff9102">Download From OneDrive</span></div>-->
<!--                <div style="font-size: 0.9rem"><img class="low_marble"  src="/images/marbles/low/ycbtglow.png"> You Cannot Beat This Game</div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
<!--    <h2>Controls</h2>-->
<!--    <p>WASD - Move</p>-->
<!--    <p>Left Mouse - Shoot</p>-->
<!--    <p>Right Mouse - Gernade</p>-->
<!--    <h2>Introduction</h2>-->
<!--    -->
<!--    <p>Press above to download from OneDrive.</p>-->
<!--    <h2>Screenshots</h2>-->
<!--    <p class="TwoColumn">-->
<!--        <img style="width: 100%" src="/images/games/you.jpg">-->
<!--        <img style="width: 100%" src="/images/games/youcannot.jpg">-->
<!--    </p>-->
    <h2>System Requirements</h2>
    <p>This game may not be compatible with modern hardware as it is quite older. It was developed only for Windows machines. Unfortunately, I do not have the project file as my hard-drive failed and needed to be formatted. But the online playable build survived! </p>
    <a href="/r/games">Back to Games</a>
    <br>
    <br>
</div>
